{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Start of breadcrumb section
	============================================= -->
<section id="breadcrumb" class="breadcrumb-section position-relative" data-background="{% static 'assets/img/background/bcbg.jpg' %}">
    <div class="background_overlay"></div>
    <div class="container">
        <div class="breadcrumb-content headline">
            <h2 class="breadcrumb-title"> Contact us</h2>
            <div class="breadcrumb_item ul-li">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Get in Touch</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End of breadcrumb section
	============================================= -->

<!-- Start of Contact content
	============================================= -->
<section id="contact-page-area" class="contact-page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">

                <div class="contact-form-text headline pera-content">
                    <h3>Have a question? </h3>
                    <p></p>
                    <br/>
                    <div class="el-contact-info">

                        <div class="contact-address">
                            <div class="contact-icon">
                                <i class="icon-call-in"></i>
                            </div>
                            <div class="contact-text pera-content headline">
                                <h4 >{{ data.title}}</h4>
                                <p style="margin-top: 40px;">
                                    <STRONG ></STRONG>Telephone：{{ settings.phone }}
                                    <br/>
                                    Email：<a href="mailto:{{ settings.email }}">{{ settings.email }}</a>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="el-contact-form headline">
                    <img src="media/{{ data.img }}">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Contact content
	============================================= -->

{% endblock content %}