{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Start of breadcrumb section
	============================================= -->
    <section id="breadcrumb" class="breadcrumb-section position-relative"
             data-background="{% static 'assets/img/background/bcbg.jpg' %}">
        <div class="background_overlay"></div>
        <div class="container">
            <div class="breadcrumb-content headline">
                <h2 class="breadcrumb-title">Information</h2>
                <div class="breadcrumb_item ul-li">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">What We Do</a></li>
                        <li class="breadcrumb-item active">Information</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End of breadcrumb section
        ============================================= -->

    <!-- Start of service single section
        ============================================= -->
    <section id="service-details" class="service-details-section">
        <div class="container">
            <div class="row col-lg-12 col-md-12" style="display: block">
                <div style="margin-top: 40px;">
                    <h4 style="text-align: center">{{ blog.title }}</h4>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div style="margin-top: 40px;">
                    <p>
                        {{ blog.contents|safe }}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End of service single section
        ============================================= -->
{% endblock content %}