
<!-- Start of Footer section
	============================================= -->
<footer id="footer-id" class="footer-section">

    <div class="footer-content">
        <div class="container">

            <br/><br/>
            <div class="footer-widget-area">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget-item pera-content">
                            <div class="footer-menu-widget ul-li-block">
                                <h3 class="el-widget-title"><a href="news.html">Industry information</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget-item pera-content">
                            <div class="footer-menu-widget ul-li-block">
                                <h3 class="el-widget-title"><a href="technology.html"></a></h3>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget-item pera-content">
                            <div class="footer-location-widget ul-li-block">
                                <h3 class="el-widget-title">Our Locations</h3>
                                <div class="loaction-select position-relative">
                                    <p>74-76 Beaconsfield Road，Moss Vale</p>
                                </div>
                                <div class="footer-map">

                                    <img style="height: 100%" src="assets/img/contact/1.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright-text text-center">
        <p>Copyright &copy; 2020.Company name All rights reserved.</p>
        <div class="copyright-menu">
            <a href="#">Terms</a>
            <a href="#"> Privacy Policy </a>
            <a href="#">Sitemap</a>
        </div>
    </div>
</footer>
<!-- End of Footer section
	============================================= -->

