{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- Start of breadcrumb section
	============================================= -->
<section id="breadcrumb" class="breadcrumb-section position-relative" data-background="{% static 'assets/img/background/bcbg.jpg' %}">
    <div class="background_overlay"></div>
    <div class="container">
        <div class="breadcrumb-content headline">
            <h2 class="breadcrumb-title">Technology</h2>
            <div class="breadcrumb_item ul-li">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">What We Do</a></li>
                    <li class="breadcrumb-item active">Technology</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End of breadcrumb section
	============================================= -->

<!-- Start of service single section
	============================================= -->
<section id="service-details" class="service-details-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="service-single-content">
                    <div class="service-details-img-pair">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="media/{{ data.img1 }}" alt="">
                            </div>
                        </div>
                    </div>

                    <h4>plastic types</h4>
                    <article>The facility would have the potential to reprocess the following plastic types:
                    </article>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="service-details-list ul-li-block">
                                <ul>{% for i in data.list.all %}
                                        <li>{{ i }}</li>
                                    {% endfor %}
{#                                    <li>- Polyethylene terephthalate (PET)</li>#}
{#                                    <li>- High-density polyethylene (HDPE)</li>#}
{#                                    <li>- Low-density polyethylene (LDPE)</li>#}
{#                                    <li>- Polyvinyl chloride (PVC)</li>#}
{#                                    <li>- Polypropylene (PP) and Polystyrene (PS)</li>#}
                                </ul>
                                <article>
                                    <br/>
                                    {{ data.contents1 | safe }}
                                </article>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="media/{{ data.img1 }}" alt="">
                        </div>
                    </div>
                    <article>
                        {{ data.contents2 | safe }}
                    </article>
                    <div class="service-single-icon-text">
                        <div class="site-info-icon-text position-relative">
                            <img src="media/{{ data.img2 }}" alt="">
                        </div>
                        <div class="site-info-icon-text position-relative">
                            <img src="media/{{ data.img3 }}" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of service single section
	============================================= -->


{% endblock content %}
